* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: .2rem;
}

html, body {
  width: 100%;
  height: 100%;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.wrap .header {
  width: 100%;
  height: .45rem;
}

.wrap .header h3 {
  font-size: .17rem;
  line-height: .45rem;
}

.wrap .main {
  width: 100%;
  flex: 1;
  overflow: hidden;
}

.wrap .main .content {
  width: 100%;
}

.wrap .main .content .inp {
  width: 90%;
  margin-left: 5%;
  height: .35rem;
  border-radius: 10px;
  background: #e1e0e0;
  line-height: .35rem;
}

.wrap .main .content .swiper-container {
  margin-top: 3%;
}

.wrap .main .content .swiper-container .swiper-slide {
  padding: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.wrap .main .content .swiper-container .swiper-slide dl {
  width: 20%;
  text-align: center;
  padding: 2%;
}

.wrap .main .content .swiper-container .swiper-slide dl img {
  width: 100%;
}

.wrap .main .content .swiper-container .swiper-slide dl dd {
  font-size: .12rem;
}

.wrap .footer {
  width: 100%;
  height: .45rem;
  display: flex;
  justify-content: space-around;
}

.wrap .footer .icons {
  text-align: center;
}

.wrap .footer .icons dt {
  font-size: .12rem;
}

.right {
  float: right;
}
